.m2 {
    background-color: lightgrey;
    width: 500px;
    padding-top: 30px;
    padding-bottom: 30px;
    border: 2px solid lightgrey;
    border-radius: 20px;
}

.i {
    text-align: center;
    width: 400px;
    margin-top: 8px;
}

.abtn-login {
    margin-top: 10px;
    background-color: black;
    color: white;
    border: 2px solid black;
    border-radius: 5px;
    width: 200px;
    height: 35px;
}

.error_div {
    color: red;
}